{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2022": true
  },
  "globals": { "focus-follow": true },
  "plugins": ["eslint-plugin-json"],
  "ignorePatterns": ["coverage/**/*", "dist/**/*", "node_modules/**/*"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  }
}
