{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2022": true
  },
  "plugins": ["flowtype"],
  "extends": [
    "eslint-config-prettier",
    "eslint-config-with-prettier",
    "eslint:recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {},
      {
        "fileInfoOptions": {
          "withNodeModules": true
        }
      }
    ]
  },
  "ignorePatterns": ["coverage/**/*", "dist/**/*", "node_modules/**/*"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  }
}
