<!DOCTYPE html>
<html lang="en-us" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="
        width=device-width,
        initial-scale=1,
        shrink-to-fit=no
      " />

    <title>Focus Follow</title>

    <link href="/dist/css/bundle.min.css" rel="stylesheet" />
  </head>

  <body id="App">
    <main id="focus-follow"></main>

    <script
      async
      defer
      src="/dist/js/bundle.min.js"
      type="module"></script>
  </body>
</html>
